
<style>
    ul{
  list-style-type: none;
}
a{
  text-decoration: none;
}
nav{
    color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 120px;
  padding: 0 20px 0 20px;
}
nav h1 a {
    font-size: 40px;
    color: white;
}
nav ul{
  display: flex;
  align-items: center;
}
nav li{
  margin-left: 20px;
}
nav li a{
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.8em;
  display: block;
  padding: 10px 16px;
  letter-spacing: 2px;
  color: white;
}
</style>


<nav>
    <h1><a href="/">FIFA</a></h1>
    <ul>
      <% if (user) { %>
        <li>Welcome, <%= user.username %></li>
        <li><a href="/users/logout">Log out</a></li>
      <% } else { %>
        <li><a href="/users/login">Log in</a></li>
        <li><a href="/users/signup" class="btn">Sign up</a></li>
      <% } %>
    </ul>
  </nav>